<%= search_form_for q, url: url do |f| %>
  <aside class="menu">
    <p class="menu-label is-centered">
      <%= t(User.human_attribute_name(:gender)) %>
    </p>
    <div class="select list-search-box">
      <%= f.select(:user_gender_eq, User.genders_i18n.invert.map{ |key, value| [key, User.genders[value]] }, { include_blank: "指定なし" }, { class: "list-search-select" }) %>
    </div>
    <p class="menu-label is-centered">
      <%= t("my_histories.index.search_age") %>
    </p>
    <div class="field">
      <div class="control">
        <%= f.number_field :user_birthday_convert_age_gteq, placeholder: "〇〇歳以上" %>
      </div>
      <div class="has-text-centered search_range my-2 has-text-weight-semibold">〜</div>
      <div class="control">
        <%= f.number_field :user_birthday_convert_age_lteq, placeholder: "〇〇歳以下" %>
      </div>
    </div>
  </aside>
  <div class="field has-text-centered mb-4">
    <div class="control is-centered">
      <%= f.submit class: "button is-btn-search has-text-weight-semibold" %>
    </div>
  </div>
<% end %>
