<% content_for(:title, t(".title")) %>
<main class="wrap-content">
  <h1 class="title has-text-centered my-6 ft-size-md">
    <%= t(".title") %>
  </h1>
  <section class="container my-6">
    <div id="history_list" class="columns">
      <!-- 検索ボックス -->
      <div id="history_list_column_left" class="column mr-5 is-3-tablet is-2-desktop">
        <aside class="menu">
          <p class="menu-label is-centered">
            <%= t(User.human_attribute_name(:gender)) %>
          </p>
          <div class="select list-search-box">
            <select class="list-search-select">
              <option>男性</option>
              <option>女性</option>
            </select>
          </div>
          <p class="menu-label is-centered">
            年齢
          </p>
          <div class="select list-search-box">
            <select class="list-search-select">
              <option>0歳</option>
              <option>100歳</option>
            </select>
          </div>
        </aside>
        <div class="field has-text-centered mb-4">
          <div class="control is-centered">
            <input type="submit" name="commit" value="検索" class="button is-btn-search has-text-weight-semibold" data-disable-with="検索">
          </div>
        </div>
      </div>
      <div class="column is-8-tablet is-9-desktop" id="history_list_column_right">
        <div class="column conten mb-5 is-12-tablet is-12-desktop" id="history_list_column_right_top">
          <%= render "my_history_count", pagy: @pagy %>
        </div>
        <div class="column content is-12-tablet is-12-desktop" id="history_list_column_right-center">
          <!-- 自分史一覧 -->
          <% if @my_histories.present? %>
            <%= render @my_histories %>
          <% else %>
            <p class="has-text-centered subtitle is-5"><%= t(".no_result") %></p>
          <% end %>
        </div>
        <!-- ページネーション -->
        <div class="column content is-12-tablet is-12-desktop" id="history_list_column_right-bottom">
          <%== pagy_bulma_nav(@pagy) %>
        </div>
      </div>
    </div>
  </section>
</main>
