<% content_for(:title, t(".title")) %>
<main class="wrap-content">
  <h1 class="title has-text-centered my-6 ft-size-md">
    <%= t(".title") %>
  </h1>
  <section class="container my-6">
    <div id="history_list" class="columns">
      <!-- 検索ボックス -->
      <div id="history_list_column_left" class="column mr-5 is-3-tablet is-2-desktop">
        <%= render "search_form", q: @q, url: my_histories_path %>
      </div>
      <div class="column is-8-tablet is-9-desktop" id="history_list_column_right">
        <!-- 自分史件数 -->
        <div class="column conten mb-5 is-12-tablet is-12-desktop" id="history_list_column_right_top">
          <%= render "my_history_count", pagy: @pagy %>
        </div>
        <!-- 自分史一覧 -->
        <div class="column content is-12-tablet is-12-desktop" id="history_list_column_right-center">
          <% if @my_histories.present? %>
            <%= render @my_histories %>
          <% else %>
            <p class="has-text-centered subtitle is-5"><%= t(".no_result") %></p>
          <% end %>
        </div>
        <!-- ページネーション -->
        <div class="column content is-12-tablet is-12-desktop" id="history_list_column_right-bottom">
          <%== pagy_bulma_nav(@pagy) %>
        </div>
      </div>
    </div>
  </section>
  <div id="twitter">
    <%= link_to "http://twitter.com/share?url=https://tsuzuru-jibunshi.com/&text=あなたも「自分史」を残してみませんか？&hashtags=自分史,つづる自分史&lang=ja", target: '_blank', rel: "noopener noreferrer", class: "twitter-link" do %>
      <i class="fab fa-twitter"></i>
    <% end %>
    <span class="twitter-text">ツイート</span>
  </div>
</main>
