<main class="wrap-content">
  <h1 class="title has-text-centered my-6 ft-size-md">
    <%= @my_history.title %>
  </h1>
  <!-- グラフ -->
  <div class="columns is-centered is-mobile">
    <div class="chart-container column graph-area is-11-mobile is-11-tablet is-9-desktop is-9-widescreen is-9-fullhd">
      <canvas id="myChart"></canvas>
    </div>
  </div>

  <div class="columns is-centered is-mobile">
    <div class="column is-11-mobile is-11-tablet is-9-desktop is-9-widescreen is-9-fullhd">
      <div class="columns is-centered">
        <div class="field is-grouped mt-5">
          <div class="column has-text-centered">
            <p class="control">
              <a class="button is-primary" href="#">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>ダウンロード</span>
              </a>
            </p>
          </div>
          <div class="column has-text-centered">
            <p class="control">
              <a class="bd-tw-button button button-twitter" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span>
                  ツイート
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 出来事一覧 -->
  <h2 class="title subtitle has-text-centered my-6 ft-size-md">出来事一覧</h2>
  <div class="columns my-6 is-centered is-mobile">
    <div class="column pd-sm is-10-mobile is-11-tablet is-two-fifths-desktop is-two-thirds-widescreen is-7-fullhd">
      <div class="page">
        <%= render "event", group_events: @group_events %>
      </div>
    </div>
  </div>

  <!-- コメントエリア -->
  <div class="columns my-6 is-centered is-mobile">
    <div class="column pd-sm is-11-mobile is-11-tablet is-two-fifths-desktop is-two-thirds-widescreen is-7-fullhd">
      <section id="main" >
        <div class="msg-info">
          <div class="avatar-img">
            <%= image_tag @user.avatar.url, size: "64x64", class: "avatar" %>
            <br>
          </div>
          <div class="avatar-info">
            ユーザー名：<%= @user.name %><br>
            年齢：<%= @user.calc_age %><br>
            性別：<%= @user.gender_i18n %><br>
          </div>
        </div>
        <div class="area-bord" id="js-scroll-bottom">
          <div class="msg-cnt msg-left">
            <div class="avatar">
              <img src="/assets/seeds/avatar_3.jpg" alt="" class="avatar">
            </div>
            <p class="msg-inrTxt">
              <span class="triangle"></span>
              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              <br>
              <span class="mt-2 date">佐藤はるき <br> 2021/10/30</span>
            </p>
          </div>
          <div class="msg-cnt msg-right">
            <div class="avatar">
              <img src="/assets/seeds/avatar_4.jpg" alt="" class="avatar">
            </div>
            <p class="msg-inrTxt">
              <span class="triangle"></span>
              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキ
              <br>
              <span class="mt-2 has-text-right date">田中健 <br> 2021/10/30</span>
            </p>

            <div class="dropdown is-right dropdown-right is-active">
              <div class="dropdown-trigger">
                <span class="icon is-small">
                  <i class="fa fa-ellipsis-h edit-comment-icon" aria-hidden="true"></i>
                </span>
              </div>
              <div class="dropdown-menu dropdown-right-menu" id="dropdown-menu5" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    <button class="button is-primary is-small mr-2">編集</button>
                    <button class="button is-link is-small">削除</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="msg-cnt msg-left">
            <div class="avatar">
              <img src="/assets/seeds/avatar_5.jpg" alt="" class="avatar">
            </div>
            <p class="msg-inrTxt">
              <span class="triangle"></span>
              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサ
              <span class="mt-2 date">2021/10/30</span>
            </p>
          </div>
          <div class="msg-cnt msg-right">
            <div class="avatar">
              <img src="/assets/seeds/avatar_1.jpg" alt="" class="avatar">
            </div>
            <p class="msg-inrTxt">
              <span class="triangle"></span>
              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキ
              <span class="mt-2 has-text-right date">2021/10/30</span>
            </p>
          </div>
          <div class="msg-cnt msg-left">
            <div class="avatar">
              <img src="/assets/seeds/avatar_2.jpg" alt="" class="avatar">
            </div>
            <p class="msg-inrTxt">
              <span class="triangle"></span>
              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサ
              <span class="mt-2 date">2021/10/30</span>
            </p>
          </div>
          <div class="msg-cnt msg-right">
            <div class="avatar">
              <img src="/assets/seeds/avatar_4.jpg" alt="" class="avatar">
            </div>
            <p class="msg-inrTxt">
              <span class="triangle"></span>
              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキ
              <span class="mt-2 has-text-right date">2021/10/30</span>
            </p>
          </div>
          <div class="msg-cnt msg-left">
            <div class="avatar">
              <img src="/assets/seeds/avatar_3.jpg" alt="" class="avatar">
            </div>
            <p class="msg-inrTxt">
              <span class="triangle"></span>
              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサ
              <span class="mt-2 date">2021/10/30</span>
            </p>
          </div>
        </div>
        <div class="area-send-msg">
          <textarea name="" id="" cols="30" rows="3"></textarea>
          <input type="submit" value="送信" class="button is-btn-edit btn-design has-text-weight-semibold">
        </div>
      </section>
    </div>
  </div>
</main>

<script>
$(function () {

  const ctx = document.getElementById("myChart");

  // 文字の大きさ
  Chart.defaults.font.size = 16;

  const myChart = new Chart(ctx, {
      type: "line",
      data: {
        datasets: [{
          label: "充実度",
          data: [
            { x: '10', y: 5 },
            { x: '13', y: -20 },
            { x: '16', y: 10 },
            { x: '17', y: 30 },
            { x: '20', y: 100 },
            { x: '25', y: -100 },
            { x: '26', y: 15 },
            { x: '30', y: 50 },
          ],
          backgroundColor: "rgba(255, 99, 132, 0.2)",
          borderColor: "rgba(255, 99, 132, 1)",
          borderWidth: 1,
          tension: 0.1
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
      }
  });

});
</script>
