<main class="wrap-content">
  <h1 class="title my-history-title has-text-centered my-6 ft-size-md">
    <%= @my_history.title %>
  </h1>
  <!-- グラフ -->
  <div class="columns is-centered is-mobile">
    <div class="chart-container column graph-area is-11-mobile is-11-tablet is-9-desktop is-9-widescreen is-9-fullhd">
      <canvas id="myChart" data-labels="<%= @graph_events.keys %>" data-data="<%= @graph_events.values %>"></canvas>
    </div>
  </div>
  <!-- ダウンロードボタン -->
  <% if logged_in? && current_user.own?(@my_history) %>
    <%= render "download" %>
  <% end %>
  <!-- 出来事一覧 -->
  <div>
    <h2 class="title subtitle my-history-subtitle has-text-centered my-6 ft-size-md">
      出来事一覧
      <% if logged_in? && current_user.own?(@my_history) %>
        <span class="show-page-edit-link">
          <%= link_to "編集", edit_my_history_path(@my_history.uuid), class: "button my-history-edit" %>
        </span>
      <% end %>
    </h2>
  </div>
  <div class="columns my-6 is-centered is-mobile">
    <div class="column my_history_list pd-sm is-10-mobile is-11-tablet is-two-fifths-desktop is-two-thirds-widescreen is-7-fullhd">
      <div class="page">
        <% if @group_events.empty? %>
          <p class="is-size-4 has-text-centered">
            出来事はありません。
          </p>
        <% else %>
          <%= render "event", group_events: @group_events %>
        <% end %>
      </div>
    </div>
  </div>
  <% if logged_in? %>
    <div class="columns my-6 is-centered is-mobile">
      <div class="column pd-sm is-11-mobile is-11-tablet is-two-fifths-desktop is-two-thirds-widescreen is-7-fullhd">
        <section id="main">
          <div class="msg-info">
            <div class="avatar-img">
              <%= image_tag @user.avatar.url, size: "64x64", class: "avatar" %>
              <br>
            </div>
            <div class="avatar-info">
              ユーザー名：<%= @user.name %><br>
              年齢：<%= @user.calc_age %>歳<br>
              性別：<%= @user.gender_i18n %><br>
            </div>
          </div>
            <!-- コメントエリア -->
            <%= render "comments/comments", { comments: @comments } %>
            <!-- コメント入力フォーム -->
            <%= render "comments/form", { my_history: @my_history, comment: @comment } %>
        </section>
      </div>
    </div>
  <% end %>
  <!-- いいねボタン -->
  <% if logged_in? %>
    <div id="like">
      <%= render "like_button", my_history: @my_history %>
      <span class="like-text">いいね</span>
    </div>
  <% end %>
  <!-- Twitter -->
  <div id="twitter">
    <div>
      <i class="fab fa-twitter"></i>
    </div>
    <span class="twitter-text">ツイート</span>
  </div>
</main>
<%= javascript_pack_tag "graph/application" %>
