<% content_for(:title, t('.title')) %>
<main class="Site-content">
  <div class="columns is-centered">
    <div class="column is-one-fifth my-6 p-5 box">
      <h1 class="title has-text-centered"><%= t(".title") %></h1>
      <%= form_with model: @user, local: true do |f| %>
        <div class="field">
          <%= f.label :name %>
          <div class="control">
            <%= f.text_field :name, class: "input", placeholder: "たなか たろう" %>
          </div>
          <%= render "shared/error_messages", object: @user, attribute: :name %>
        </div>

        <div class="field">
          <%= f.label :email %>
          <div class="control">
            <%= f.email_field :email, class: "input", placeholder: "***@example.com" %>
          </div>
          <%= render "shared/error_messages", object: @user, attribute: :email %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <div class="control">
            <%= f.password_field :password, class: "input", placeholder: "password" %>
          </div>
          <%= render "shared/error_messages", object: @user, attribute: :password %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <div class="control">
            <%= f.password_field :password_confirmation, class: "input", placeholder: "password" %>
          </div>
          <%= render "shared/error_messages", object: @user, attribute: :password_confirmation %>
        </div>

        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <%= f.submit t("defaults.register"), class: "button is-warning box" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</main>
