<% content_for(:title, t(".title")) %>
<main class="wrap-content">
  <div class="columns my-6 is-centered is-mobile">
    <div class="column pd-sm box is-10-mobile is-three-fifths-tablet is-two-fifths-desktop is-two-fifths-widescreen is-one-third-fullhd">
      <h1 class="title has-text-centered mb-5"><%= t(".title") %></h1>
      <%= form_with model: @user, local: true do |f| %>
        <div class="field mb-5">
          <%= f.label :name, class: "label" %>
          <div class="control has-icons-left">
            <%= f.text_field :name, class: "input", placeholder: "たなか たろう" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <%= render "shared/error_messages", object: @user, attribute: :name %>
        </div>

        <div class="field mb-5">
          <%= f.label :email, class: "label" %>
          <div class="control has-icons-left">
            <%= f.email_field :email, class: "input", placeholder: "***@example.com" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <%= render "shared/error_messages", object: @user, attribute: :email %>
        </div>

        <div class="field mb-5">
          <%= f.label :password, class: "label" %>
          <div class="control has-icons-left">
            <%= f.password_field :password, class: "input", placeholder: "password" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <%= render "shared/error_messages", object: @user, attribute: :password %>
          <p class="help has-text-grey-dark">＊半角英数字8文字以上で入力してください</p>
        </div>

        <div class="field mb-5">
          <%= f.label :password_confirmation, class: "label" %>
          <div class="control has-icons-left">
            <%= f.password_field :password_confirmation, class: "input", placeholder: "password" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <%= render "shared/error_messages", object: @user, attribute: :password_confirmation %>
        </div>

        <div class="field has-text-centered mb-4">
          <div class="control is-centered">
            <%= f.submit t("defaults.register"), class: "button is-btn-yellow btn-design" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
