<header>
  <nav class="navbar is-spaced is-fixed-top js-get-height" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <%= image_tag "https://bulma.io/images/bulma-logo.png", alt: "人生の軌跡" %>
      <% end %>
      <a role="button" class="navbar-burger js-toggle-is-active" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <%= link_to t("my_histories.index.title"), my_histories_path, class: "navbar-item" %>
        <a href="http://localhost:3000/my_histories/new" class="navbar-item"><%= "自分史作成" %></a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <%= current_user.name %>
          </a>
          <div class="navbar-dropdown">
            <%= link_to t("profiles.show.title"), profile_path, class: "navbar-item" %>
            <hr class="navbar-divider">
            <%= link_to t("profiles.edit.title"), edit_profile_path, class: "navbar-item" %>
            <hr class="navbar-divider">
            <a class="navbar-item">
              退会
            </a>
          </div>
        </div>
        <%= link_to t("defaults.logout"), logout_path, method: :delete, class: "navbar-item" %>
        <div class="modal">
          <div class="modal-background"></div>
          <div class="modal-content">
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
        </div>
      </div>
    </div>
  </nav>
</header>
