<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag("favicon/favicon.ico") %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>
    <% if Rails.env.production? %>
      <meta name="google-site-verification" content="ctyPXJfAX_FJ-j3mCEiAaZ3dRJWk13BMSnyl9WJGbEg" />
      <%= render "layouts/google_analytics" %>
      <%= render "layouts/heat_map" %>
      <%= render "layouts/log_rocket" %>
    <% end %>
  </head>

  <body class="wrap">
    <% if logged_in? %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>

    <%= render "shared/flash_message" %>

    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
